<%-
	/**
	 * @param {object} settings インスタンスの初期設定
	 * @param {object} settings.breakPoints ブレイクポイントの識別名とその幅
	 * @param {string} settings.path 画像データのディレクトリパス
	 * @param {boolean} settings.webp webpを使うかどうか
 	 */ 
	include( 'template-parts/_picture',{ settings : {
		breakPoints: { 
			sp:767,
			// tab:1200
		},
		path: 'images/',
		srcset: ['2x'],
		webp: true
	}});
	%><% // includeはここでタグを閉じないとエラーが出る
	const meta = {
		title: 'ページタイトル',
		description: 'ディスクリプション',
		url: '',
		site_name: '',
		ogImage: '',
		favicon: { 
			1616: '',
			svg: '',
			apple: '',
		},
	};
%>
<%- include( 'template-parts/_header',{ meta } ) %>

<div id="content" class="l-content">

<!-- TOP AREA -->

<div id="main" class="l-main">

<!-- 例 -->
<%- picture.codeSet( { src:'img_default', extns:'jpg', webp: true, isMediaQuery: true, attr:{ width:960, height:620, alt:'image', className:'image', decoding:'sync', loading:'eager',ariaHidden: true } } );%>
<!-- 例（必須項目のみの場合） -->
<%- picture.codeSet( { src:'img_default', extns:'png', isMediaQuery: true, attr:{ width:960, height:620 } } );%>

</div><!-- l-main -->

</div><!-- l-content -->

<%- include( 'template-parts/_footer',{ meta } ) %>